<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>CITIEsForRAILS - {{ page.title }}</title>
	<link href="http://github.com/stylesheets/bundle_common.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="http://github.com/stylesheets/bundle_github.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="stylesheets/syntax.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
	<a href="http://github.com/altrabio/CITIEsForRAILS"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://d3nwyuy0nl342s.cloudfront.net/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>
	<div id="main">
		<div id="header" class="basic" style="margin-bottom:20px">

			<div class="site">
				<div class="download">
					<a href="http://github.com/altrabio/CITIEsForRAILS/zipball/master">
						<img border="0" width="90" src="http://github.com/images/modules/download/zip.png"></a>
						<a href="http://github.com/altrabio/CITIEsForRAILS/tarball/master">
							<img border="0" width="90" src="http://github.com/images/modules/download/tar.png"></a>
						</div>
						<div class="topsearch">	
							<ul class="nav logged_out" style="margin-top:20px">
								<li><a href="index.html">Home</a></li>
								<li><a href="problem.html">The Problem</a></li>
								<li><a href="existing_solutions.html">Existing Solutions</a></li>
								<li><a href="new_solution.html">New Solution</a></li>
								<li><a href="user_guide.html">User Guide</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div id="content" class="site">

					{{ content }}

				</div>

				<div class="push"></div>
			</div>

			<div id="footer">
				<div class="site">

					<div class="info">
						<div class="links">
							<a href="http://www.altrabio.com/"><b>ALTRABio</b></a>
						</div>
						<div class="company">
							The CITIEsForRAILS gem is delivered by ALTRABio under MIT License. 
							<br/>
							Authors: L. Buffat, P.E. Jouve
							<br/>
							Documentation formatted and translated into markdown by P. Hamilton
							<br/>
							Contact citiesforrails[at]gmail.com
						</div>
					</div>
				</div>
			</div>
		</body>
		</html>
